{{#if error}}
    <div class="error-container">
        {{error}}
    </div>
{{/if}}

<div class="login-form-container">
<h1>Login</h1>

<form method="post" action="/login">
    <input type="email" name="email" required />
    <input type="password" name="password" required />
    <input type="submit" value="Login" />
</form>

Not registered ? Click <a href="/register">here</a>
</div>