// common rules

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body, html {
  background: rgba(0, 0, 0, 0.01);
  height: 100%;
}

// header rules

header {
  height: 70px;
  background: rgba(0, 0, 0, 0.2);
}

// content rules

.container {
  min-height: 100%;
  margin-bottom: -200px;
}

.container:after {
  content: "";
  display: block;
}

.container:after, footer {
  height: 200px;
}

// log container and items

#logs-container {
  padding: 20px 0;
}

.bg-alt {
  background: rgba(0, 0, 0, 0.05);
}

.bg-norm {
  background: white;
}

.log-item {
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &:last-child {
    border-bottom: none;
  }

  & .nick {
    font-weight: bold;
  }
}

// footer rules

footer {
  background: rgba(0, 0, 0, 0.7);
}